.con{
	margin-left: 20%;
	margin-right: 20%;
	background-color: white;
	border-radius: 20px;
	margin-top: 2%;
	text-align: center;
}
.confl
{
	text-align: center;
	background-color: orange;
}
.con1{
	margin-left: 20%;
	margin-right: 20%;
	background-color: rgba(255,255,255,0.51);
	border-radius: 20px;
	margin-top: 2%;
	text-align: center;
	padding: 2%;
}

.deco{
	text-decoration: underline;
	font-weight: bold;
}